.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.headerdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
ul {
  display: flex;
  gap: 50px;
}
li {
  margin-top: 7px;
}
.logo {
  margin-top: 7px;
}
.fa-bars {
  font-size: 20px;
  display: none;
}

.s-1 {
  height: 500px;
  background-image: url(../image/mainimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hwraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hwraper h1 {
  font-family: Helvetica;
  font-size: 79px;
  font-weight: 700;
  line-height: 90.84px;
  text-align: left;
  color: #ffffff;
}
.hwraper h4 {
  font-family: Helvetica;
  font-size: 19px;
  font-weight: 400;
  line-height: 21.85px;
  text-align: left;
  color: #ffffff;
}

.s2 {
  display: flex;
  max-width: 1400px;
  margin-top: 20px;
  justify-content: space-between;
  padding-top: 20px;

  margin: 0 auto;
}
.div1 {
  width: 200px;
}

h4 {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 19.55px;
  text-align: left;
  color: #636060;
}

.se {
  color: #000000;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.2px;
  text-align: left;
}
.p1 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.div2 {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img {
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}
.title {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 21.85px;
  text-align: left;
  color: #343232;
}
.p {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  text-align: left;
  color: #636060;
}
.card1 {
  width: 200px;
}
.card2 {
  width: 200px;
}
.card3 {
  width: 200px;
}
.card4 {
  width: 200px;
}
.card5 {
  width: 200px;
}
.card6 {
  width: 200px;
}

@media (max-width: 630px) {
  nav {
    display: none;
  }
  .fa-bars {
    display: block;
  }
}

@media (max-width: 700px) {
  .hwraper h1 {
    font-size: 48px;
  }
}
